* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #FDFDFD;
    --color-green: #1A3E3E;
    --color-yellow: #F2BE22;
    --bg-lake: url(images/background-card/lake.jpg);
    --bg-yoga: url(images/background-card/yoga.jpg);
    --bg-night-skye: url(images/background-card/night-skye.jpg);
}

.wrapper {
    width: 1180px;
    margin: 0 auto;
}

.email-cont {
    width: 1210px;
    margin: 0 auto;
}

@font-face {
    font-family: 'Next-art-bold';
    src: url(fonts/nextart/NEXT-ART_Bold.woff2);
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
}

body {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    font-family: "Next-art-bold";
    font-size: 50px;
    font-weight: bold;
    line-height: 75px;
    color: var(--color-white);
}

h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 120%;
}

p {
    line-height: 150%;
}

.title span {
    font-size: 24px;
    font-weight: 400;
    color: var(--color-yellow);
}

.intro .btn:hover,
.programs .btn:hover,
.popular .btn:hover,
.blog .btn:hover,
.pinterest .btn:hover,
.email .btn:hover {
    background-color: var(--color-yellow);
    color: black;
}

.intro .btn,
.programs .btn,
.popular .btn,
.blog .btn,
.pinterest .btn,
.email .btn {
    padding: 16px 36px;
}

.section-info-item {
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    color: var(--color-white);
    background-color: var(--color-green);
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    transition: all 0.4s ease-in-out;
}

.btn-white {
    max-height: 52px;
    padding: 15px 40px;
    background-color: var(--color-white);
    color: var(--color-green);
    font-weight: 700;
}


.lake-img {
    background-image: var(--bg-lake);
}

.yoga-img {
    background-image: var(--bg-yoga);
}

.night-skye-img {
    background-image: var(--bg-night-skye);
}

.matte {
    background: rgba(255, 255, 255, 0.173);
    backdrop-filter: blur(3px);
}

/* Header */

header {
    min-height: 100dvh;
    background-image: url(images/mountain-hd.jpg);
    background-repeat: no-repeat;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: inherit;
    padding-bottom: 82px;
}

.header__menu {
    display: flex;
    align-items: center;
    padding: 14px 0;
}

.header__list {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    gap: 24px;
    list-style: none;
}

.header__list a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: color 0.4s ease-in-out;
}

.header__list a:hover {
    color: var(--color-green);
}

.header .btn:hover {
    background-color: var(--color-white);
    color: var(--color-green);
}

.header__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header__tour-programm {
    display: flex;
    justify-content: space-between;
    padding: 40px 43px;
    background: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(108, 105, 105, 0.568);
}

.dropdown-form {
    display: flex;
    gap: 10px;
}

.header__tour-programm .btn:hover {
    background-color: #1A3E3E;
    color: #F3F5F4;
}

.dropdown-item {
    position: relative;
}

.dropdown-item::after {
    content: url('images/arrowdown.svg');
    position: absolute;
    right: 16px;
    top: 30%;
    /* transform: translateY(-30%); */
    z-index: -1;
}

.img-date::after {
    content: url(images/calendar-icon.svg);
}

.select {
    display: block;
    padding: 14px 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white);
    background-color: inherit;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 8px;
    width: 270px;
    margin-bottom: 8px;
    appearance: none;
}

.select option {
    color: black;
}

/* Intro */

.intro-gd {
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding: 100px 0;
}

.intro__videos {
    position: relative;
}

.intro__videos a {
    transition: transform .4s;
}

.intro__videos a:hover {
    transform: scale(1.5);
}

.alone-mountain {
    width: 350px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/alone-mountain.jpg);
    border-radius: 24px;
}

.alone-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 400px;
    position: absolute;
    top: 130px;
    left: 130px;
    background-image: url(images/alone-home.jpg);
    border-radius: 24px;
}

.intro__info {
    padding: 64px 0;
}

.intro__info a {
    margin-right: auto;
}

.intro .btn:hover {
    background-color: var(--color-yellow);
    color: black;
}

/* Programs */
.programs {
    background-color: #F3F5F4;
}

.programs-df {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 80px 0;
}

.programs__info {
    max-width: 580px;
}

.programs__item {
    display: flex;
    align-items: center;
    gap: 16px;
    /* height: 64px; */
}

.programs__item p {
    font-weight: 400;
    font-size: 14px;
}

.programs__item h3 {
    font-size: 18px;
    font-weight: bold;
}

.programs__info a {
    margin-right: auto;
}

.programs__pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 40px 0;
}

.picture__item:first-child,
.picture__item:last-child {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.picture__item:nth-child(2),
.picture__item:nth-child(3) {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* Popular */
.popular {
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
}

.popular__title {
    width: inherit;
    text-align: center;
    margin-bottom: 50px;
}


.popular__cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 380px;
    height: 500px;
    border-radius: 32px;
}

.price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    color: white;
}

.price-info h2 {
    font-size: 24px;
    font-weight: bold;
}

.price-info p {
    font-size: 14px;
}

.price-info-title {
    text-align: left;
}

.rating {
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.301);
    backdrop-filter: blur(6px);
}

.rating span {
    font-size: 14px;
    font-weight: bold;
}

.price {
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.301);
    backdrop-filter: blur(6px);
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
}

/* Blog */

.blog {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #F3F5F4;
}


.blog .title {
    text-align: center;
    margin-bottom: 40px;
}

.blog .btn {
    margin-top: 50px;
}

.blog__container {
    display: grid;
    grid-template-columns: repeat(2, 580px);
    gap: 20px;
}

.blog__item {
    display: flex;
    gap: 24px;
    padding: 16px;
    background-color: #fff;
}

.blog__item:hover {
    cursor: url(images/green-pointer.svg) 2 2, default;
}

.blog__picture {
    max-height: 280px;
}

.blog__picture img {
    border-radius: 6px;
}

.blog__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 294px;
    padding: 16px 0;
}

.blog__info h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
}

.blog__info p {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
}

.blog__info__foot {
    display: flex;
    justify-content: space-between;
}

.blog__info__foot span {
    font-weight: 700;
    font-size: 14px;
    color: var(--color-yellow);
}

.blog__info__foot a {
    font-weight: 700;
    text-decoration: none;
    color: #1A3E3E;
    line-height: 20px;
}

.link-cont {
    text-align: center;
}

/* Pinterest */
.pinterest {
    padding-top: 80px;
}

.pinterest .title {
    text-align: center;
    margin-bottom: 40px;
}

.pinterest__photo__collection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}

.first-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}

.second-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
}

.pinterest__link img {
    border-radius: 6px;
    transition: transform 1s;
}

.pinterest__link img:hover {
    transform: scale(1.1);
}

.pinterest__link:hover {
    cursor: url(images/hand-pointer.svg) 2 2, default;
}



/* Email */

.email {
    position: relative;
    top: 98px;
    background-color: #fff;
    padding: 40px 100px;
    border-radius: 6px;
    box-shadow: 0 0 15px 0 rgba(24, 18, 30, 0.12);
}

.email__content {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.subscription {
    display: flex;
}

.subscription .btn {
    padding: 16px 36px;
}

.email .title span {
    margin-bottom: 10px;
}

.email .title h2 {
    font-weight: 800;
    font-size: 26px;
    line-height: 120%;
}


/* Footer */

footer {
    background-color: var(--color-green);
    color: var(--color-white);
}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}


footer p,
a {
    font-size: 14px;
}

footer a {
    font-weight: 600;
    color: var(--color-white);
}

.footer {
    display: grid;
    grid-template-columns: 5fr 4fr 3fr;
    padding: 180px 0 80px 0;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 263px;
}

.information__bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts {
    display: flex;
    gap: 24px;
}

.meta {
    display: flex;
    gap: 16px;
}

.services__list img,
.articles__list img {
    margin-right: 10px;
}

.services a,
.articles a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.footer a {
    transition: all 0.2s ease-in-out;
}

.footer a:hover {
    cursor: url(images/hand-pointer.svg) 2 2, default;
    color: #F2BE22;
    text-decoration: underline;
}

.services__list,
.articles__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 16px;
    list-style-image: url(images/arrow-right.svg);
}

.footer-bottom__df {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.footer-bottom {
    background-color: black;
}

.footer-bottom a {
    transition: all 0.2s ease-in-out;
}

.footer-bottom a:hover {
    cursor: url(images/hand-pointer.svg) 2 2, default;
    color: #F2BE22;
}